.menu-card {
  display: flex;
  padding: 13px 10px 0 10px;
  border-bottom: 0.5px solid white;
  font-size: 2.5vw 1vw;
  color: #F8F8F8;
}
.menu-card-image {
  flex: 1;
}
.menu-card-image img {
  width: 100%;
  max-width: 50px;
  margin: auto;
}
.menu-card-headers {
  flex:2.5;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.menu-card-headers header {
  font-size: 2vw;
  margin-bottom:0;
  padding-bottom: 0;
}
.menu-card-headers p {
  font-size: 1.7vw;
  margin-top:0.25vw;
  font-weight: bold;

}
.menu-card-details {
  flex: 1;
  font-size: 1.4vw;
}
