body {
  margin: 0;
}
/*

.navbar {
  width: 100%;
  position: fixed;
  background-color: blue;
  color: blue;
}
 .btns {
  border: 2px solid green;
  background-color: white;
  border-color: green;
  color: green;
  width: 12%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  cursor: pointer;
}
#btn-green {
  background-color: green;
  color: white;
} 
*/

